/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Custom

!/app/Themes/admin
/app/Themes/admin/*
!/app/Themes/admin/base/
!/app/Themes/admin/default/

!/app/Themes/frontend
/app/Themes/frontend/*
!/app/Themes/frontend/base/
!/app/Themes/frontend/default/

/public/assets
/public/uploads
